.login-bg:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    display: inline-block;
    background: linear-gradient(to left, rgba(56, 4, 62, 0.4) 20% , rgba(57, 63, 4, 0.4) 100%);
   }
.login-shadow{
    box-shadow: 1px 1px 5px 5px rgba(0, 0, 0, .3); 
}
.login-text{
    background: linear-gradient(to left, rgb(230, 8, 255) 20% , rgb(221, 244, 15) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}