.single-thumb .range-slider__thumb[data-lower] {
    width: 0;
  }
  .single-thumb .range-slider__range {
    border-radius: 6px;
  }
  #range-slider-yellow .range-slider__range {
    background: #EF0548;
    transition: height 0.3s;
  }
  #range-slider-yellow .range-slider__thumb {
    background: #EF0548;
    transition: transform 0.3s;
  }